/* Dashboard content */

/* LAYOUT */
.dashboard-content {
    padding: 10px 0px;
    height: 100vh;
}

.dashboard-header {
    margin: 10px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px 30px;
}

.back-btn-wrapper {
    position: relative;
    color: whitesmoke
}

.back-btn-wrapper i {
    position: absolute;
    left: 12px;
    top: 14px;
    z-index: 10;
}

.form-outer-wrapper {
    display: flex;
    justify-content: space-around;
}

.form-inner-wrapper {
    margin: 0 20px 0 20px;
    width: 80%;
    background: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    overflow-x: hidden;
}

.form-control {
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    margin: 20px 30px;
}

.form-control .validation {
    display: none;
    grid-column: span 2;
    width: 100%;
    margin: 1px 145px;
    font-size: 14px;
    color: rgba(255, 0, 0, 0.8);
    overflow: hidden;
}

.select-wrapper {
    position: relative;    
    display: grid;
    grid-template-columns: 100%;
}

.select-wrapper i {
    position: absolute;
    right: 30px;
    top: 12px;
}

/* TYPOGRAPHY */
.dashboard-header h1 {
    font-size: 1.6rem;
    color: #219ebc;
}

.form-wrapper h3 {
    color: #219ebc;
    font-size: 18px;  
}

.form-wrapper h3:last-of-type {
    margin-top: 40px;
}

.form-control label {
    font-size: 14px;
    font-weight: bold;
}

/* BUTTONS */
.back-btn,
.edit-btn{
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 13px;
    cursor: pointer;
    transition: opacity .3s;
}

.back-btn {
    padding: 15px 24px;
    padding-left: 40px !important;
    background-color: grey;
}

.edit-btn{
    background: #219ebc;
    padding: 10px 20px;
    margin-right: 30px;
    float: right;
}   

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

/* INPUTS */
.form-control input,
.form-control select {
    padding: 12px 24px 12px 15px;
    border: 1px solid #00000050;
    background: transparent;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 5px;
    outline: 0;
    letter-spacing: .5px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.form-control input:focus,
.form-control select:focus {
    border: 1px solid rgba(59, 119, 215, 0.5);
    box-shadow: rgba(59, 119, 215, .4) 0px 0px 0px 3px;
}

.form-control input:disabled {
    background: #ddd;
}

/* FORM VALIDATIONS */
.form-control.error input,
.form-control.error select {
    border-color: rgba(255, 0, 0, 0.8);
}

.form-control.error input:focus,
.form-control.error select:focus {
    box-shadow: rgba(255, 0, 0, 0.6) 0px 0px 0px 3px;
}

.form-control.error .validation {
    display: block;
}