/* Dashboard content */
.dashboard-content {
    padding: 10px 0px;
    height: 100vh;
}

.dashboard-header {
    margin: 10px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px 30px;
}

.dashboard-header h1 {
    font-size: 1.6rem;
    color: #219ebc;
}

.statistics {
    display: flex;
    justify-content: space-evenly;
}

.statistics .department,
.statistics .employee {
    width: 45%;
    color: whitesmoke;
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
}

.statistics .department {
    background: rgba(0, 0, 0, 0.8);
}

.statistics .employee {
    background: #219ebc;
}

.employee h2,
.department h2 {
    font-size: 2rem;
}

.employee i,
.department i {
    font-size: 2rem;
}

.employee p,
.department p {

}
